
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
body{
  background-color: #fff;
  scroll-behavior: smooth;

}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  
}

/* font-family: 'IBM Plex Sans Arabic', sans-serif; */

a{
  text-decoration: none !important;
}

ul{
  list-style: none !important;
  margin: 0 !important;
}



.page-header{
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page-header .overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.8757878151260504) 0%, rgba(0,0,0,0.2959558823529411) 100%);
}

.page-header h1{
  position: relative;
  margin-top: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 53px;
}

.hide{
  display: none !important;
}


@media(max-width:950px){
    .included-services .included-service {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 17px;
      margin-bottom: 77px;
      justify-content: center;
      margin-top: 24px;
  }

  .right-thing .right-thing-numbers {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0 !important;
    margin-top: 0 !important;
    justify-content: space-between;
    width: 100%;
  }

  .discover-team .discover-team-content h1 {
    color: #fff;
    direction: rtl;
    font-size: 19px;
    margin-right: 17px;
  }

  .contact-page .contact-page-content h6 {
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 400;
  }

  .contact-page .contact-page-content .contact-info h2 {
    width: 48%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-top: 15px;
    border-top: 1px solid #e7e7e7;
    width: 100%;
  }

  .project-details .project-details-content .image .side-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 87%;
    background-color: #0f4277d6;
    color: #fff;
    padding: 15px;
  }

  .project-details .project-details-content .image img {
    width: 100%;
    height: 563px;
    object-fit: cover;
  }
}

.facebook{
  color: #0572e6 !important;

}

.twitter{
  color: #1d9bf0 !important;
}

.instagram{
  color: #c6346b !important;
}

.tiktok{
  color: #fe2c55 !important;
}


.whatsapp{
  color: #0dc143 !important;
}



.loader {
  position: relative;
}

.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000087;
  z-index: 1000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
}


.loading-screen.active{
  display: flex;
}

@media(max-width:950px){


    .numbers-section .text .numbers-details {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: space-between !important;
      gap: 74px !important;
      margin-top: 20px !important;
  }


  .about-us .about-content .about-details {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-top: 85px !important;
    margin-bottom: 85px !important;
    gap: 59px !important;
}

footer img {
  position: absolute !important;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  object-fit: contain !important;
  width: 100% !important;
}

.about-us .about-content h2 {
  font-size: 19px !important;
  text-align: center !important;
  line-height: 47px !important;
  font-weight: 400 !important;
  color: #000 !important;
}

.about-us .about-content h1 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  text-align: center !important;
  width: 100% !important;
  font-family: 'Bacasime Antique', serif ;
  font-size: 38px !important;
  color: #42b649d6 !important;
}


.numbers-section .text {
  margin-top: 150px !important;
  margin-bottom: 150px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 16px !important;
}

.numbers-section .text h1 {
  font-family: 'Bacasime Antique', serif ;
  font-size: 32px !important;
  color: #000 !important;
  width: 76% !important; 
}

.landing .landing-content h2 {
  color: #fff !important;
    font-size: 16px !important;
    line-height: 30px;
    padding: 13px;
    font-size: 7px;
}


.landing .landing-content h1 {
  margin-top: 102px !important;
  font-family: 'Bacasime Antique', serif;
  font-size: 38px !important;
  color: #fff !important;
}


.section-header h1 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  text-align: center !important;
  width: 100% !important;
  font-family: 'Bacasime Antique', serif ;
  font-size: 38px !important;
  color: #42b649d6 !important; 
}


.landing .landing-content h1 {
  color: #fff !important;
  font-family: Bacasime Antique,serif;
  font-size: 23px !important;
  margin-top: 103px !important;
  text-align: center !important;
  line-height: 60px !important;
  padding: 9px;
}



}
.lang a{
  position: absolute;
  z-index: 5;
  left: 15px;
  top: 34px;
  color: #fff;
  font-size: 21px;
}

